---
import { urlFor } from '@/lib/sanity'
import { t } from '@/lib/i18n'
import type { PartnerLogo, Language } from '@/lib/queries'

interface Props {
  logos: PartnerLogo[]
  lang:  Language
}

const { logos, lang } = Astro.props
const tr = t(lang)
---

<section class="partners">
  <div class="partners__inner">
    <ul class="partners__grid" role="list">
      {logos.map((logo) => (
        <li class="partners__item">
          <img
            src={urlFor(logo.asset).width(200).url()}
            alt={logo.alt ?? tr.partnerLogoAlt}
            loading="lazy"
            width="100"
            height="50"
          />
        </li>
      ))}
    </ul>
  </div>
</section>
